---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <Navbar />
  <div
    class="hero min-h-screen"
    style="background-image: url(/images/personal_diary-bg.jpg);"
  >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Impersonal Diary</h1>
        <h2 class="mt-4 mb-5 text-3xl">
          Votre Journal, Votre Histoire, Votre Univers.
        </h2>
        <p class="mb-5">
          Naviguez entre les confins de l'imaginaire et les ancrages de votre
          quotidien, en créant un journal qui transcende les frontières du réel
          et de l'imaginaire. Que vos récits soient des confessions intimes, des
          rêveries éthérées, ou des histoires inventées, chaque mot trouve sa
          place dans votre journal en ligne.
        </p>
        <h3 class="mt-4 mb-5 text-2xl">
          Partagez ou Gardez, le Choix est à Vous.
        </h3>
        <p class="mb-5">
          Avec "Impersonal Diary", vous détenez la clé de votre univers.
          Choisissez de garder vos histoires pour vous, comme un trésor
          personnel, ou de les partager avec une communauté qui résonne avec vos
          mots et vos mondes.
        </p>
        <p class="mb-5">
          Créez votre espace, écrivez votre histoire, et plongez dans un monde
          où chaque jour est une page blanche, prête à être remplie de vos
          rêves, réflexions et aventures.
        </p>
        <h3 class="mt-4 mb-8 text-2xl">
          Rejoignez-nous et Écrivez l'Inexploré.
        </h3>

        <button class="btn btn-red">Commencer</button>
      </div>
    </div>
  </div>
</Layout>
