<div
  class="hero min-h-screen"
  style="background-image: url(/images/personal_diary-bg.jpg);"
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-60 mt-20 text-5xl font-bold">Impersonal Diary</h1>

      <p class="mb-48">
        Bienvenue dans "Impersonal Diary", l'espace où vos pensées se
        transforment en histoires, où vos rêves et réalités coexistent dans un
        tissage délicat de mots et d'émotions. Ici, chaque page est une nouvelle
        aventure, chaque entrée, un nouveau monde à explorer.
      </p>

      <button class="btn btn-red">Commencer</button>
    </div>
  </div>
</div>
